services:
    discovery: 
        image: "${DOCKER_USERNAME}/discovery:${GITHUB_SHA}"
        ports:
            - "8761:8761"
        networks:
          docker-ms:
            aliases:
              - discovery
        deploy:
          replicas: 1
          restart_policy:
            condition: on-failure
          placement:
            constraints:
              - node.labels.role == gateway

networks:
  docker-ms:
    external: true

