services:
    discovery: 
        image: "${DOCKER_USERNAME}/docker-microservices:discovery"
        container_name: discovery
        ports:
            - "8761:8761"
        restart: always   
