name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  package:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Maven Package
        run: |
            mvn clean package --no-transfer-progress
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-discovery
          path: target/*.jar

  docker:
    needs: package
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: built-discovery

      - name: Build & Push Docker image
        run: |
          JAR_FILE=$(ls *.jar | head -n 1)
          IMAGE_NAME=${{ secrets.DOCKER_USERNAME }}/discovery
          docker build -t $IMAGE_NAME:latest .
          docker push $IMAGE_NAME:latest
